<% provide :title, t("views.users.signup")%>
<% provide :button_text, t("views.users.button_create") %>
<h1><%= t "views.users.signup" %></h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render "layouts/form" %>
  </div>
</div>
